<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= url %> - login
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/hatsunai.css" />
</head>

<body>
        <div class="navbar">
                <div class="navContents">
                    <a id="hatsunai" href="/"><%= url %></a>
                    <break>  &bull;   </break>
                    <% if (loggedIn) { %>
                    <a id="navlink" href="#">Files</a>
                    <break>  &bull;   </break>
                    <% } %>
                    <a id="navlink" href="https://discord.gg/55UdUhq">Discord</a>
                    <break>  &bull;   </break>
                    <a id="navlink" href="/info">Information</a>
                    <div class="right">
                        <% if (!loggedIn) { %>
                        <a id="navlink" href="/login">Login</a>
                        <break>  &bull;   </break>
                        <a id="navlink" href="/register">Register</a>
                        <% } else { %>
                        Welcome, <%= username %>
                        <% } %>
                    </div>
                </div>
            </div>
    <div id="box">

        <div class="login">
            <form method="post" action="/login">
                <div class="field">
                    <label>Username: </label><br>
                    <input tabindex="1" type="text" name="username" placeholder="Username" value="" required><br>
                </div>
                <div class="field">
                    <label>Password: </label><br>
                    <input tabindex="2" type="password" name="password" placeholder="Password" value="" required><br>
                </div>
                <button tabindex="3" class="blueButton" type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>