@font-face {
    font-family: Aller;
    src: url(../font/Aller_Rg.ttf);
}

body {
    background-color: #3f3f3f;
    font-family: 'Aller', sans-serif;
}
img {
    display: inline-block;
    position: relative;
    width: 500px;
    height: 250px;
    padding: 10px;
}
#box {
    position: absolute;
    margin: auto;
    width: 50%;
    left: 25%;
    text-align: center;
    border: 3px solid pink;
    background-color: #333;
    padding: 10px;
}

a {
    background: 0 0;
    color: #4183C4;
    text-decoration: none;
    text-align: center;
}

.titleAndDesc {
    color: white;
}

.login {
    text-align: left;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255,255,255,0);
    line-height: 1.2142em;
    padding: .67861429em 1em;
    font-size: 1em;
    background: #333;
    border: 1px solid rgba(34,36,38,.15);
    color: white;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
}

.login .field>input {
    width: 96%;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    line-height: 1.2142em;
    padding: .67861429em 1em;
    font-size: 1em;
    background: #FFF;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    box-shadow: 0 0 0 0 transparent inset;
    margin-bottom: 8px;
    margin-top: -8px;
}
.login .field>label {
    display: block;
    color: #FFF;
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
}

button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    background: #E0E1E2;
    color: rgba(0,0,0,.6);
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    left: 75%;
    text-decoration: none;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #2185D0;
    color: #FFF;
    text-shadow: none;
    background-image: none;
}